body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 4px 8px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 2px 8px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 10px;
}

.input-area {
  background-color: #c1ffff;
  padding: 16px;
  margin: 8px;
  width: 400px;
  border-radius: 8px;
}

.incomplete-area {
  background-color: #c6ffe2;
  min-height: 400px;
  width: 400px;
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 400px;
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
}

.title {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  color: #666;
}

.list {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
